# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Distribution / packaging
.venv/
*.egg-info/

# IDE items:
.idea
website-generator.code-workspace

# Output items
output/
output.zip

# React app artifacts
react-app/node_modules/
react-app/.next/
react-app/out/

# Dead codes
styles/styles.css
plugins/blog_indexer.py
