# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
.pytest_cache/

# Distribution / packaging
.venv/
*.egg-info/

# IDE items:
.idea
website-generator.code-workspace

# Output items
output/
output.zip
react-app/public/data/

# React app artifacts
react-app/node_modules/
react-app/.next/
react-app/out/
