[MASTER]
ignore=.git,venv,.venv,__pycache__,migrations
py-version=3.12

[MESSAGES CONTROL]
disable=
    W0511,  # TODO comments

[FORMAT]
# Ignore docstring lines for length checking
ignore-long-lines=^\s*(\"\"\"|''')|^\s*\w+.*(\"\"\"|''')
